image.png
compared.png
/bin/*

# Compiled Object files
*.slo
*.lo
*.o
*.hi

# Test files
/src/rope_test
/src/util_test

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# For Mac.
.DS_Store
